# Python
__pycache__/
*.pyc
*.pyo

# Database
*.db
*.db-old

# Photos
uploaded_photos/

# Frontend
node_modules/
dist/
dist-ssr
*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea